@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --tooltip: 0 0% 3.9%;
    --tooltip-foreground: 0 0% 98%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --text-primary: var(--gray-950);
    --text-secondary: var(--gray-500);
    --text-tertiary: var(--gray-400);
    --text-quaternary: var(--gray-300);
    --text-error: var(--red-700);
    --border-light: rgba(0, 0, 0, 0.1);
    --border-medium: rgba(0, 0, 0, 0.15);
    --border-heavy: rgba(0, 0, 0, 0.2);
    --border-xheavy: rgba(0, 0, 0, 0.25);
    --main-surface-primary: var(--white);
    --main-surface-secondary: var(--gray-50);
    --main-surface-tertiary: var(--gray-100);
    --sidebar-surface-primary: var(--gray-50);
    --sidebar-surface-secondary: var(--gray-100);
    --sidebar-surface-tertiary: var(--gray-200);
    --link: #2964aa;
    --link-hover: #749ac8;
    --selection: #007aff;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --text-primary: var(--gray-100);
    --text-secondary: var(--gray-300);
    --text-tertiary: var(--gray-400);
    --text-quaternary: var(--gray-500);
    --text-error: var(--red-500);
    --border-light: hsla(0, 0%, 100%, 0.1);
    --border-medium: hsla(0, 0%, 100%, 0.15);
    --border-heavy: hsla(0, 0%, 100%, 0.2);
    --border-xheavy: hsla(0, 0%, 100%, 0.25);
    --main-surface-primary: var(--gray-800);
    --main-surface-secondary: var(--gray-750);
    --main-surface-tertiary: var(--gray-700);
    --sidebar-surface-primary: var(--gray-900);
    --sidebar-surface-secondary: var(--gray-800);
    --sidebar-surface-tertiary: var(--gray-750);
    --link: #7ab7ff;
    --link-hover: #5e83b3;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  html,
  body {
    height: 100%;
  }

  .from-sidebar-secondary {
    --tw-gradient-from: #ececec var(--tw-gradient-from-position);
    --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }

  .from-sidebar-primary {
    --tw-gradient-from: #f9f9f9 var(--tw-gradient-from-position);
    --tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    opacity: 0.9;
  }

  body *::-webkit-scrollbar {
    width: 0.5rem;
  }

  body *::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 0.25rem;
  }

  body *::-webkit-scrollbar-track {
    background-color: #f9f9f9;
  }

  body *::-webkit-scrollbar-thumb:hover {
    background-color: #e5e7eb;
  }
}

.sidebar *::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.sidebar:hover *::-webkit-scrollbar-thumb {
  visibility: visible;
}

.list {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
